body{
background-image: url('dark_wood.png');
}

#Header{
    border: soild 8px black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10px;
    text-align: center;
    background-color: #8e41d5;
}

h3{
    color:#ffbc00;
    font-size:40px;
    font-family:"Passion One";
    margin-bottom:0px;
}

p{
    font-family:"Arial";
    font-weight:bold;
    color:white;
}

#Header h1{
    font-size:60px;
    font-family:"Passion One";
    color:#ffbc00;
    font-weight:bald;
}

#LeftNav{
    float:left;
    border: soild 8px black;
    width: 400px;
    text-align: center;
    padding-bottom:8px;
    background-color: #8e41d5; 
}

#LeftNav u1{}

a{
    font-size: 24px;
    font-weight: bold;
    color: white;
}

u1{
    list-style-type:none;
    padding:0px;
}

#Content{
    border: soild 8px black;
    width: 700px;
    text-align: center;
    padding:15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10px;
    background-color: #8e41d5;
}

#Footer{
    text-align: center;
    border: soild 8px black;
    background-color: #8e41d5;
}

.tiles{}

#bow{
    color:#ffbc00;
    font-weight: bold;
    font-size: 20px;
}

